html {
  margin: 0;
}

#ookii {
  margin: 0px 0px 20px 0px;
  background-color: rgb(244, 79, 79);
  text-align: center;
}

h1 {
    color: rgb(255,255,255)
}

h2 {
  font-size: 25px;
  border-bottom: 3px dotted rgb(236,122,122);
}

h2::before {
  content: "●";
  color: rgb(239,111,139);
}

.parent {
  display: flex;
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(194, 234, 251);
}

a:hover {
  color: rgb(245,178,168);
}

.contents {
  /*このパディングここじゃないかも？main全体に入れるには…*/
  padding: 10px;
  border: solid 3px rgb(238,204,204);
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
}

.contents p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97,206,249);
}

.contents img {
  margin: 10px 0;
  width: 70%;
}

#parent {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  #parent {
    flex-direction: column;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
}

/*コンテンツ
marginを上下20、左右0にするかつセンターってできるの？→中の要素が中央揃えになるようにします。



画面幅768px以下になったら表示が変わるようにブレークポイントを設定します。

次に、画面幅768px以下のスタイル設定を次のように行います。

h2のフォントサイズは30pxとします。
pのフォントサイズは25pxとします。
Flexboxコンテナであるid名parent内の要素が縦に並ぶようにします。 */